///*------------------------------------*\
//    #CORE/HTML - TYPOGRAPHY
//\*------------------------------------*/

em {
  font-style: normal;
}

strong {
  font-weight: 700;
}

p {
	font-size: 1em;
}

blockquote {}

cite {}
