{# t01-homepage.twig #}

{% extends "base.twig" %}

{% block content %}

	{% include 'includes/4_regions/hero.twig' %}

	<section class="callout-boxes">
	
	</section>

	{% include 'includes/4_regions/footer.twig' %}

{% endblock %}

