///*------------------------------------*\
//    #UTILITY - COLORS
//\*------------------------------------*/
/* Note: the palette function is included here (vs in the tools directory)
 * since both of these needed in order to work properly
 */

@function palette($palette, $tone: 'base') {
  @return map-get(map-get(map-get($palettes, colors), $palette), $tone);
}

$palettes: (
  colors: (
    black: (
      base: #504d4b
    ),
    white: (
      base: #fff,
    ),
    brown: (
      light: #faf5eb,
      base: #614b2e,
      dark: rgba(#020100, .12)
    )
  )
);

$white:   palette(white);
$black:   palette(black);

/** Ex. Light brown
p {
  color: palette(brown, light);
}
**/

/* Color variables */

$seagreen: #3B8686;
$seafoam: #82B582;

$ivory: #FFFFE0;

$linkred: #ef4c31;
$almostblack: #1e1c1c;
$pureblack: #000000;
$lightgray: #f1f2f2;
$mediumgray: #808080;
$purewhite: #ffffff;
$mediumbrown: #d8a77e;
$lightyellow: #fff8e1;
$lightblue: #ddf0fa;

